<%- include("partials/header") %>
		<h3><span id="searchTerm"><em><%= search %></em></span> Results Page</h3>
<% results["Search"].forEach(function(result) { %>
		<li><strong><%= result["Title"] %></strong> - <span id="year"><%= result["Year"] %></span></li>
<% }); %>
<%- include("partials/searchAgain") %>
<%- include("partials/footer") %>