<%- include("partials/header") %>
		<div class="container-fluid">
			<header class="jumbotron bg-warning">
				<div class="container">
					<h1 id="cgrounds">YelpCamp Grounds <i class="fas fa-campground"></i></h1>
					<p>View our handpicked campgrounds from all over the world.</p>
					<p>
						<a class="btn btn-success btn-sm" href="/campgrounds/new">Add New Campground</a>
					</p>
				</div>
			</header>
<% if(campgrounds.length > 0) { %>
			<div class="row text-center" id="cgrounds-row">
<% var counter = 0; %>
<% campgrounds.forEach((campground) => { %>
<% counter++; %>
				<div class="col-sm-6 col-lg-4 col-xl-3 mt-2 mb-3">
					<!-- TODO: convert thumbnail to bootstrap v4 card class -->
					<div class="thumbnail">
						<a href="/campgrounds/<%= campground._id %>"><img src="<%= campground.image %>" alt="Image Unavailable" class="img-fluid"></a>
						<div class="caption">
							<h4>Campground #<%= counter %> - <%= campground.name %></h4>
						</div>
						<p>
							<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
						</p>
					</div>
				</div>
<% }); %>
			</div>
<% }; %>
		</div>
<%- include("partials/footer") %>