<%- include("../partials/header") %>
		<div class="container-fluid">
			<header class="jumbotron bg-warning">
				<div class="container">
					<h1 id="cgrounds">YelpCamp Grounds <i class="fas fa-campground"></i></h1>
					<p>View our handpicked campgrounds from all over the world.</p>
					<p>
						<a class="btn btn-success btn-sm" href="/campgrounds/new">Add New Campground</a>
					</p>
				</div>
			</header>
<% if(campgrounds.length > 0) { %>
			<div class="row text-center" id="cgrounds-row">
<% var counter = 0; %>
<% campgrounds.forEach((campground) => { %>
<% counter++; %>
				<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 mb-3">
					<!-- TODO: convert thumbnail to bootstrap v4 card class -->
					<div class="card">
						<a href="/campgrounds/<%= campground._id %>"><img src="<%= campground.image %>" alt="Image Unavailable" class="card-img-top"></a>
						<div class="card-body">
							<h5 class="card-title"><%= campground.name %></h5>
							<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
						</div>
					</div>
				</div>
<% }); %>
			</div>
<% }; %>
		</div>
<%- include("../partials/footer") %>