<%- include("../partials/header") %>
		<div class="container-fluid">
			<header class="jumbotron bg-warning text-center">
				<div class="container">
					<h1 id="cgrounds"><%= campground.name %></h1>
					<p><%= campground.desc %></p>
				</div>
			</header>
			<div class="d-flex flex-row justify-content-center">
				<div class="col-md-3 d-none d-md-block">
					<p class="lead">YelpCamp</p>
					<div class="list-group">
						<li class="list-group-item active">Info 1</li>
						<li class="list-group-item">Info 2</li>
						<li class="list-group-item">Info 3</li>
					</div>
				</div>
				<div class="col-md-9">
					<img src="<%= campground.image %>" alt="Image Unavailable" class="img-fluid" id="cground-img">
					<div class="mt-3">
						<h4><em>Comments:</em></h4>
<% campground.comments.forEach((comment) => {%>
						<div>
							<%= comment.text %> - <strong><%= comment.author %></strong>
						</div>
<% }); %>
					</div>
					<div class="mt-2">
						<a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-sm btn-success">Add New Comment</a>
					</div>
				</div>
			</div>
		</div>
<%- include("../partials/footer") %>