<%- include("../partials/header") %>
		<div class="container-fluid">
			<header class="jumbotron bg-warning text-center">
				<div class="container">
					<h1 id="cgrounds"><%= campground.name %></h1>
				</div>
			</header>
			<div class="d-flex flex-row justify-content-center">
				<div class="col-md-3 d-none d-md-block">
					<p class="lead">YelpCamp</p>
					<div class="list-group">
						<li class="list-group-item list-group-item-success">Info 1</li>
						<li class="list-group-item list-group-item-secondary">Info 2</li>
						<li class="list-group-item list-group-item-warning">Info 3</li>
					</div>
				</div>
				<div class="col-md-9">
					<div class="card">
						<img src="<%= campground.image %>" alt="Image Unavailable" class="card-img-top" id="cground-img">
						<h5 class="card-title text-center"><%= campground.name %></h5>
					<% if(campground.author) { %>
						<h6 class="card-subtitle mb-2 text-muted">Submitted by <%= campground.author.username %></h6>
					<% }; %>
						<p class="card-text px-2"><%= campground.desc %></p>
					</div>
					
					<div class="card mt-3">
						<h5 class="card-title text-left"><em>Comments:</em></h4>
					<% campground.comments.forEach((comment) => {%>
						<p class="card-text">
							<%= comment.text %> - <strong><%= comment.author.username %></strong>
						</p>
					<% }); %>
						<a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-sm btn-success mt-2">Add New Comment</a>
					</div>
				</div>
			</div>
		</div>
<%- include("../partials/footer") %>