<%- include("../partials/header") %>
		<div class="container-fluid">
			<header class="jumbotron bg-warning text-center">
				<div class="container">
					<h1 id="cgrounds"><%= campground.name %></h1>
				</div>
			</header>
			<div class="d-flex flex-row justify-content-center">
				<div class="col-md-3 d-none d-md-block">
					<p class="lead">YelpCamp</p>
					<div class="list-group">
						<li class="list-group-item list-group-item-success">Info 1</li>
						<li class="list-group-item list-group-item-secondary">Info 2</li>
						<li class="list-group-item list-group-item-warning">Info 3</li>
					</div>
				</div>
				<div class="col-md-9">
					<div class="card text-center">
						<img src="<%= campground.image %>" alt="Image Unavailable" class="card-img-top" id="cground-img">
						<div class="card-body">
							<h5 class="card-title"><%= campground.name %></h5>
							<% if(campground.author) { %>
								<h6 class="card-subtitle mb-2 text-muted">Submitted by <%= campground.author.username %></h6>
							<% }; %>
							<p class="card-text px-2"><%= campground.desc %></p>
							<% if((user) && (campground.author.username === "Admin" || ((campground.author.id) && campground.author.id.equals(user._id)))) { %>
								<div class="d-flex flex-row justify-content-around">
									<a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-warning hyper-btn">Edit</a>
									<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="inline-form">
										<button class="btn btn-danger hyper-btn">Delete</button>
									</form>
								</div>
							<% }; %>
						</div>
					</div>
					<div class="card mt-3 bg-secondary text-light">
						<div class="card-body">
							<h5 class="card-title text-left"><em>Comments:</em></h4>
							<% campground.comments.forEach((comment) => {%>
								<p class="card-text"><strong><%= comment.author.username %></strong> - <%= comment.text %></p>
							<% }); %>
							<a href="/campgrounds/<%= campground._id %>/comments/new" class="card-link btn btn-success hyper-btn mt-1">Add New Comment</a>
						</div>
					</div>
				</div>
			</div>
		</div>
<%- include("../partials/footer") %>